In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\sahik\\Documents\\MachineLearning101'

In [3]:
os.chdir(r"C:\Users\sahik\Documents\MachineLearning101\data")

In [4]:
os.getcwd()

'C:\\Users\\sahik\\Documents\\MachineLearning101\\data'

In [10]:
df = pd.read_excel("stock_data.xlsx")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata